.speech
{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color:black;
}
.direction
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    color:black;
    background-color: rgb(151, 193, 231);
}
.direction:hover
{
    background-color: antiquewhite;
    color:brown;
}
.IMP
{
    font-family: 'Gill sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: rgb(18, 164, 116);
}
.IMP:hover
{
    text-shadow: 1px 1px;
    color:red;
    filter: blur(0.2px);
    border-style: dotted;
    border-left: 6px solid red;
}
.POOR
{
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
    color: rgb(228, 69, 69);
}
.POOR:hover
{
    text-shadow: 1px 1px;
    color:rgb(20, 107, 139);
    filter: blur(0.2px);
    border-style: dotted;
    border-left: 6px solid rgb(10, 95, 7);
}
.JUDGE
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
    color: rgb(171, 16, 29);
}
.JUDGE:hover
{
    text-shadow: 1px 1px;
    color:blue;
    filter: blur(0.2px);
    border-style: dotted;
    border-left: 6px solid blue;
}
table{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border:0cqi;
    text-align: center;
    border-collapse: collapse;
}
th, td{
    border:1px solid #dddddd;
    text-align: center;
    padding:8px;
}
tr:nth-child(even) {
    background-color: aliceblue;
}

ul.navbar-horizontal 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li 
{
    float:left; 
    color:#000;
    background-color: #8f77d3
}
ul.navbar-horizontal a 
{
    display:block;
    padding:8px
}
ul.navbar-horizontal a:hover 
{  
    background-color: #784d12;
    color:white;
}